<div class="row">
    <div class="col-12">
        <h2>Agregar Nueva Marca</h2>
        <hr/>
    </div>
</div>
<!-- 
rest API 
Marca

GET : TRaer Registros
POST: Para Agregar registros
PUT: Actualizar Registros
DELETE: Eliminar Registros


-->



<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/Marca/AgregarMarca" method="post">
                <div class="col-3">
                    <label class="form-label" for="NombreMarca">Nombre</label>
                    <input class="form-control" name="Nombre" id="NombreMarca" />
                    <br />
                    <button class="btn btn-success">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>